.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}

/**
 * List
 */
.cmf-list-fields-container {
    margin-bottom: 10px;
}

/**
 * Reference
 */
.cmf-reference-dialog {
    min-width: 80%;
}

.cmf-reference-dialog .modal-body {
    padding: 0;
    min-height: 500px;
}

.cmf-reference-dialog .modal-body iframe {
    width: 100%;
    height: 100%;
}

.cmf-list-form-item {
    width: 100%;
    margin-bottom: 5px;
}

.cmf-list-form-select-addon {
    width: 20%;
}

.cmf-list-form-select-addon-input {
    width: 80% !important;
}
